body {
/* Anulo los margenes por defecto que usan los navegadores web. */    
  margin: 0px; 
  padding: 0px; 

  font-family: 'Arial Bold','Verdana',  'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue'
}

