.add_recipe {
    background-image: url("../imgs/add_recipe_background.jpg");
    background-size: auto;
    height: 925px;
    background-position: 0px 55px;
}


.add_recipe fieldset {
    border-radius: 35px;
    border: 3px rgb(172, 87, 61) solid;
    margin:  150px 0px 0px 330px;
    height: 520px;
    width: 1300px;
    margin-bottom: 12px;
    /* background-color: rgba(172, 118, 58, 0.418); */
}

.add_recipe legend {
    width: 250px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: rgb(240, 194, 95);
}


.add_recipe .form {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    
    /* border: 3px red solid; */

}


.add_recipe .info {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding-left: 35px;
    /* border: 3px blue solid; */
}


.add_recipe .info label{
    color:  rgb(255, 226, 96);

    margin-top: 10px ;
    font-size: 20px;
}


.add_recipe .info input {
  width: 500px;
  height: 30px;
  font-size: 22px;
  border-radius: 10px;
  padding-left: 10px;
  background-color: rgb(250, 238, 211);
}

.add_recipe .info input[type=number]  {
    width: 100px;
}


.add_recipe .info textarea {
    width: 800px;
    height: 70px;

    font-size: 22px;
    border-radius: 10px;
    padding-left: 10px;
    background-color: rgb(250, 238, 211);

}


.add_recipe .diets {
    position: relative;
    border-radius: 35px;
    border: 3px green solid;
    margin:  0px 0px 0px 0px;
    height: 80%;
    width: 30%;
}




.add_recipe button {
    margin-top: 50px;
    margin-left: 475px;
    width: 280px;
    height: 50px;
    border-radius: 17px;
    font-size: 25px;
    font-weight: bold;
    color: rgb(78, 37, 9);
    border: 3px rgba(141, 86, 61, 0.822) solid;
    background-color: rgb(206, 151, 100);
}



.add_recipe button:hover {
    font-size: 29px;
    background-color: rgb(243, 201, 162);
}



.add_recipe .message {
    margin-left: 400px;
    color: rgb(224, 224, 224);
    font-size: 18px;
}




