
.card {
    border: 4px rgba(0, 0, 0, 0.329) solid;
    width: 580px;
    height: 200px;
    border-radius: 15px;
    color:black;
    font-size: 15px;
    background-color: rgba(190, 121, 41, 0.616);
    margin-bottom: 41px;
    text-decoration: none;
}


.card:hover {
    border: 4px rgba(163, 106, 1, 0.65) solid;
    background-color: rgba(238, 165, 81, 0.616);
}


.upper_details {
    display: flex;
    flex-direction: row;
    /* border: 2px  red solid; */
    height: 160px;
    width: 100%;
}

.upper_details img {
    width: 210px;
    border: 3px rgba(0, 0, 0, 0.76) solid;
    border-radius: 15px;
    margin: 3px 10px 3px 4px;
    box-shadow: 5px 7px 7px rgba(0, 0, 0, 0.212) ;

}

.right_side {
    width: 330px;
    /* border: 2px green solid; */
    height: 100%;
}

.score {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.363);
    border-radius: 10px;
    font-weight:bold;
    font-size: 18px;
    color: rgb(240, 243, 189);
    margin: 4px 10px 10px 203px; 
    width: 140px;
    height: 25px;
}


.diets_title{
    font-weight: bold;
    font-size: 17px;
    color: rgb(141, 45, 0);
}


.diets{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 100px;
    font-weight:bold;
    font-size: 15px;
    color: rgb(54, 37, 0);
    /* border: 2px yellow solid; */
}



.name {
    margin: 6px 5px 5px 9px; 
    font-size: 27px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(78, 22, 0);
}

.name_long {
    margin: 9px 5px 5px 9px; 
    font-size: 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(78, 22, 0);
}

