.home {   
    background-image: url("../imgs/home_background.jpg");
    background-size:auto;
    height: 945px;

}


.searchOrderFilter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    border-bottom:  2px rgba(155, 88, 0, 0.322) solid;
    background-color: rgba(173, 134, 74, 0.562);
    height: 47px;
    width: 100%;

    /* border: 2px red dashed; */
}


.searchOrderFilter span{
    font-size: 19px;
    color: rgb(100, 68, 0);
}


/* SEARCH */
.searchOrderFilter input[type=text] {
    background-color: rgb(241, 230, 210);
    border-radius: 8px rgb(202, 138, 0) solid;
    height: 30px;
    width: 200px;
    font-size: 20px;
}
.searchOrderFilter button {
    background-color: rgb(255, 212, 131);
    border-radius: 10px;
    border-color: rgb(202, 138, 0);
    height: 30px;
    font-size: 15px;
    margin-left: 10px;
}
.searchOrderFilter button:hover {
    background-color: rgb(255, 161, 20);
}




/* ORDER */
.order select{
    background-color: rgb(241, 230, 210);
    border-radius: 10px;
    height: 30px;
    font-size: 20px;
}


/* FILTER */
.filter select{
    background-color: rgb(241, 230, 210);
    border-radius: 10px;
    height: 30px;
    font-size: 20px;
}





.cards_container {
    display: grid;
    grid-template-columns: 33% 33% 33% ;
    grid-template-rows: auto auto auto ;
    justify-items: center;
    align-items: center;
}



.message {
    margin-top: 150px;
    grid-column-start: 2;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    color: brown;
    font-size: 40px;
    
    padding: 15px;

    background-color: rgb(221, 182, 131);
    border: 5px rgba(255, 123, 0, 0.692) solid;
    border-style:inset;
    border-radius: 30px;
    height: 100px;
    width: 1000px;
}

