

.landing {   
    background-image: url("../imgs/landingBackground.jpg");
    background-size: cover;
    height: 945px;
}

.titleAndButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    height: 350px;

    position: fixed;
    top: 280px;
    right: 220px;
    
}

.titleAndButton img {
    width: 700px;
}

.titleAndButton button {
    color: rgb(161, 97, 0);
    border: 2px solid rgba(163, 139, 102, 0.63);
    width: 200px;
    height: 70px;
    background-color: rgb(255, 241, 196);
    font-size: 27px;
    border-radius: 35px;

    position: relative;
    top: 50px;
}

.titleAndButton button:hover {
    border: 3px solid rgb(167, 135, 87);
    background-color: rgb(255, 222, 113);
    font-size: 36px;
}


/* EJEMPLOS PARA DOS ESTILOS:
 <div className={`${s.producto} ${s.hola}`}>
 */
