header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    background-color: #c09950;
    align-items: center;
    border-bottom: 4px rgb(161, 111, 1) solid ;
    
}

header img{
    position: relative;
    top: center;
    left: 50px;
    width: 170px;
}


header nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 500px;
    height: 90%;
    text-decoration: none;
    
    /* border: 2px red dashed; */
}


header nav .navItem {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 220px;
    font-size: 22px;
    color: rgb(255, 237, 177);
    text-decoration: none;
    
    /* border: 2px red dashed; */
}



header nav .navItem :hover{
    font-size: 28px;
    color: rgb(255, 251, 235);
}