.pagination {
    display: flex;
    justify-content: center;
    margin-top: 7px;
    margin-bottom: 7px;

}


.pagination span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 25px;
    margin-left: 5px;
    margin-right: 5px;

    font-size: 17px;
    color: rgb(223, 222, 165);
    border: 2px rgba(255, 255, 255, 0.493) solid;
    border-radius: 10px;
    background-color: rgb(114, 64, 0);
}


.pagination span:hover {
    font-size: 21px;
    color: rgb(255, 254, 220);
}


.pagination .current_page {
    font-size: 21px;
    color: rgb(255, 19, 19)
}

.pagination .current_page:hover {
    font-size: 21px;
    color: rgb(255, 19, 19)
}