.pagination {
    display: flex;
    justify-content: center;
    margin-top: 7px;
    margin-bottom: 7px;

}


.pagination span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 23px;
    margin-left: 5px;
    margin-right: 5px;

    font-size: 17px;
    color: rgb(219, 202, 146);
    border: 2px rgba(3, 3, 3, 0.294) solid;
    border-radius: 10px;
    background-color: rgb(148, 84, 0);
}


.pagination span:hover {
    font-size: 19px;
    color: rgb(255, 254, 220);
}


.pagination .current_page {
    font-size: 19px;
    background-color: rgb(216, 135, 28);
    color: rgb(255, 244, 225);
}

.pagination .current_page:hover {
    font-size: 19px;
    background-color: rgb(216, 135, 28);
    color: rgb(255, 244, 225);
}